<div class="landing-cover mb-5" style="width: 100%;height: 60vh;position: relative;-webkit-background-size: cover;-moz-background-size: cover;-o-background-size: cover;background-attachment: scroll;background-position: center;background-image: url('<%= image_path("IMAG1482.jpg")%>');">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-10 mx-auto">
                <div class="site-heading text-light">
                    <h1>Team blog</h1>
                    <h3>For demo only. Ruby on Rails </h3>
                </div>
            </div>
        </div>
    </div>
</div>



<div class="col-lg-8 col-md-10 mx-auto">
<% if (@articles.count != 0) %>

        <% @articles.each do |article| %>
            <div class="post-preview">
                
                    
                    <%= link_to :controller => 'articles', :action => 'show', :id => article do %>
                        <h2 class="post-title">
                            <%= article.title %>
                        </h2>
                        <h3 class="post-subtitle">
                            <%= excerpt(article.content, "") %>
                        </h3>
                    <% end %>
                    <p class="post-meta">
                        Posted by <%= article.user.email %>
                        on <%= article.updated_at.inspect() %> 
                    </p>
                    <% if current_user.id == article.author_id %>
                        <div class="article-operation row justify-content-end">
                            <%= link_to 'Edit', {:controller => 'articles', :action => 'edit',
                            :id => article}, class: "btn btn-warning col-3 mr-1 " %>
                            <%= link_to 'Delete', article_path(article), :method => :delete, class: "btn btn-danger col-3 mr-1" %>
                        </div>
                    <% end %> 
                    
            </div>
            <hr>
        <% end %>
    
    <% end %>

    <div class="pagination justify-content-end">
    
        <%= if !(@articles.nil?) then paginate @articles, theme: 'bootstrap4' end %>

        
    </div>

    <div class="pagination paginate-info justify-content-end">
        <%= if !(@articles.nil?) then page_entries_info @articles end %>
    </div>
    

    <%= link_to 'New Article', new_article_path , class: "btn btn-primary" %>
</div>




