<div> 
    <span> title: </span>
    <%= @article.title %>
    <div>
        <span> Author: </span>
        <%= @article.user.email %>
    </div>
</div>
<div>
    <span> content: </span>
    <%= @article.content %>
</div>


<% if (@article.comments.count != 0) %>
<div>
        <br/>
        <br/>
    <div> comments: </div>

    <% @article.comments.each { |comment| %>
    <div>
        <span> Comment author :</span> <%= comment.user.email %>  
        <span> Comment time: </span> <%= comment.created_at %>
        <div>
            <span> Comment :</span>
            <%= comment.content %>
        </div>
        <% if comment.author_id == current_user.id %>
            <%= link_to 'Edit comment',  edit_article_comment_path(@article, comment) %>
            <%= link_to 'Delete comment', article_comment_path(@article, comment), :method => "delete" %>
        <% end %>
        <br/>
        <br/>
    </div>
    <% } %>
</div>
<% end %>

<p>
</p>

<div>
<%= render "comments/new" %>
</div>
<p>
</p>

<p><%= link_to 'Back to index', :controller => 'articles', :action => 'index' %></p>