
    <div class="row"> 
        <div class="col-lg-8">
            <h1 class="mt-4">
                <%= @article.title %>
            </h1>
            <div class="lead row">
                <div class="col-4 text-left">
                    By: <%= @article.user.email %>
                </div>
                <div class="col-8 text-right">
                    Posted on <%= @article.created_at %>
                </div>
            </div>

            <hr>

            <%= @article.content %>

            <hr>

            <div class="card my-4">
                <%= render "comments/new" %>
            </div>

            <% if (@article.comments.count != 0) %>
                    <% @article.comments.each { |comment| %>
                    <div class="media mb-4">
                        <div class="media-body">
                            <h5 class="mt-5 row ">
                                <div class="text-left col-3"><%= comment.user.email %></div> 
                                <div class="text-right col-9"><%= comment.created_at %> </div>
                            </h5>
                            
                            <div class="comment-content">
                                <%= comment.content %>
                            </div>    
                                
                            <div class="comment-operation row justify-content-end">
                                <% if comment.author_id == current_user.id %>
                                    
                                        <%= link_to 'Edit comment',  edit_article_comment_path(@article, comment), class: "btn btn-warning col-3 mr-1" %>
                                        <%= link_to 'Delete comment', article_comment_path(@article, comment), :method => "delete", class: "btn btn-danger col-3 mr-3" %>
                                    
                                <% end %>
                            </div>
                        </div>
                        
                    </div>
                    <% } %> 
            <% end %>

            <hr>


            <%= link_to 'Back to index', {:controller => 'articles', :action => 'index'}, class: "btn btn-link" %>

        </div>
    </div>



    

    